<!-- Book Section -->
    <section id="book">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading wow fadeInDown">Book a table</h2>
                    <h3 class="section-subheading wow fadeInDown">Tell us your name, the name of restaurant, and how many are in your party...</h3>
                </div>
            </div><!-- /.row -->
            <div class="row">
                <div class="col-md-6 col-md-offset-3 wow fadeInUp signup_form">
                    
                      <form id="bookForm" class="form form-table text-center" name="table_reservation" novalidate>
                        <h6>All fields required.</h6>
                        <div class="row">
                          <div class="col-lg-6 col-md-6 form-group">
                            <label class="sr-only" for="first_name1">first name</label>
                            <input class="form-control hint" type="text" id="first_name1" name="first_name" placeholder="first name" required data-validation-required-message="Please enter your first name.">
                            <p class="help-block text-danger"></p>
                          </div>
                          <div class="col-lg-6 col-md-6 form-group">
                            <label class="sr-only" for="last_name1">last name</label>
                            <input class="form-control hint" type="text" id="last_name1" name="last_name" placeholder="last name" required data-validation-required-message="Please enter your last name.">
                            <p class="help-block text-danger"></p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-6 col-md-6 form-group">
                            <label class="sr-only" for="email1">email</label>
                            <input class="form-control hint" type="email" id="email1" name="email" placeholder="email@" required data-validation-required-message="Please enter your email address.">
                            <p class="help-block text-danger"></p>
                          </div>
                          <div class="col-lg-6 col-md-6 form-group">
                            <label class="sr-only" for="phone1">phone</label>
                            <input class="form-control hint" type="text" id="phone1" name="phone" placeholder="phone" required data-validation-required-message="Please enter your phone number.">
                            <p class="help-block text-danger"></p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-6 col-md-6 form-group">
                            <label class="sr-only" for="reserv_date1">reservation date</label>
                            <input class="form-control datepicker hasDatepicker hint" type="text" id="reserv_date1" name="reserv_date" placeholder="reservation date" required data-validation-required-message="Please enter your reservation date.">
                            <p class="help-block text-danger"></p>
                          </div>
                          <div class="col-lg-6 col-md-6 form-group">
                            <label class="sr-only" for="numb_guests1">number of guests</label>
                            <input class="form-control hint" type="text" id="numb_guests1" name="numb_guests" placeholder="number of guests" required data-validation-required-message="Please enter number of guests.">
                            <p class="help-block text-danger"></p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-6 col-md-6 form-group">
                            <label class="sr-only" for="alt_reserv_date1">Restaurant Name</label>
                            <input class="form-control datepicker hasDatepicker hint" type="text" id="alt_reserv_date1" name="alt_reserv_date" placeholder="Restaurant Name" required data-validation-required-message="Please enter your Restaurant Name.">
                            <p class="help-block text-danger"></p>
                          </div>
                          <div class="col-lg-6 col-md-6 form-group">
                            <label class="sr-only" for="time1">time</label>
                            <input class="form-control timepicker ui-timepicker-input hint" type="text" id="time1" name="time" placeholder="time" required="" autocomplete="off" data-validation-required-message="Please enter your arrival time.">
                            <p class="help-block text-danger"></p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-12 col-md-12">
                            <p>Due to the limitation of seats, we only accept a maximum of six people per booking. Private hire of the premises is available (for 14 people) with bespoke menus on request.</p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-12 col-md-12">
                            <div id="success"></div>
                            <button type="submit" class="btn btn-xl btn-primary">submit</button>
                          </div>
                        </div>
                      </form>
                </div>
                <div class="col-sm-12">
                    <a href="#gallery" class="page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>
    <!-- End Book Section -->