
<h1>Best Seafood Restuarants in Chicago </h1>
<p>All Restaurants</p>
<% @restaurants.each do |restaurant| %>
<h2><a href="/restaurants/<%=restaurant.id %>"><%= restaurant.name %></a></h2>
<% end %>






