<h1>Best Seafood Restuarants in Chicago </h1>
<p>All Categories</p>
<% @categories.each do |category| %>
  <h2><a href="/restaurants?category=<%= category.name %>"><%= category.name %></a></h2>
<% end %>
  