<div id="app">

  <div>
     Write a review:<input type="text" v-model="newReviewText" cols="30" rows="10"> 
     <button v-on:click="addReview()">Submit</button>
  </div>


  <ul>
    <div v-for="review in reviews">
      <li>{{ review }}</li>
    </div>
  </ul>
</div>


  
<!-- <div class="rating">
<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
</div> -->

